* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.clearfix:after,
.clearfix:before {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.chat {
    margin-top: 100px;
}
.chat-head h1 {
    text-align: center;
    font-size: 40px;
}
.chat-content {
    padding: 5px;
    height: 300px;
    border: 1px solid #ccc;
}
.chat-sidebar {
    float: right;
    width:30%;
    border-left: 1px solid #cccccc;
    height: 100%;
    padding-left: 10px;
}
.chat-messages {
    float: left;
    width:70%;
    padding: 5px;
}
.message {
    text-align: left;
}
.my-message {
    text-align: right;
}